<table>
 <thead>
  <th scope="col">Editor</th>
  <th scope="col">Vim</th>
  <th scope="col">Emacs</th>
  <th scope="col">Visual Stdio Code</th>
 </thead>
 <tbody>
  <tr>
   <th scope="row">Pros</th>
   <td>
    <ul>
    <li>Ergonomic keyboard controls</li>
    <li>Installed and runs almost everywhere</li>
    </ul>
   </td>
   <td>
    <ul>
    <li>Emacs can be your entire workflow</li>
    <li>Elisp is fully featured language</li>
    </ul>
   </td>
   <td>Familiar Graphical Environment for new users while not pidgin holing you like an IDE</td>
  </tr>
  <tr>
   <th scope="row">Cons</th>
   <td>
    <ul>
      <li>The key bindings can be a nightmare to learn at first.</li>
      <li>Vimscript is an awful language.</li>
    </ul>
   </td>
   <td>
    <ul>
      <li>Emacs's learning curve is almost as steep as vim</li>
      <li>Emacs constantly swaps files which is really frustrating on slow filesystems</li>
    </ul>
   </td>
   <td>
    <ul>
      <li>Requires a graphical console</li>
      <li>Uses the most memory and resources of the bunch</li>
      <li>Extensions are written in JavaScript/TypeScript</li>
    </ul>
   </td>
  </tr>
  <tr>
   <th scope="row">Common Misconception</th>
   <td>
    Vim doesn't have advanced features like macros, autocompletion, syntax highlighting, code-formatting.
    In reality these features are hidden behind obscure keyboard shortcuts
   </td>
   <td>
    Emacs key combos will hurt your hand.
    You can rebind almost any key, and plugin "EVIL mode" makes emacs much more ergonomic
   </td>
   <td>
    You can't use VS Code on remote machines.  In reality, it has built-in remote editing support that can edit files on other machines.
   </td>
  </tr>
  <tr>
   <th scope="row">Getting Started</th>
   <td>
     <code>vimtutor</code> the build-in vim getting started exercise
   </td>
   <td>
     <ul>
      <li><code>spacemacs</code> a emacs distribution with good defaults</li>
      <li>the emacs tutorial, press <code>control+h</code> followed by <code>t</code> in emacs</li>
     </ul>
   </td>
   <td>
    Introductory videos on the help page
   </td>
  </tr>
  <tr>
   <th scope="row">Next Steps</th>
   <td>
    <ul>
    <li>VimCasts - short videos on using vim</li>
    <li>Practical Vim - a comprehensive book on vim tricks</li>
    </ul>
   </td>
   <td>
    <ul>
     <li>learn elisp <code>control+h</code><code>i</code> then read choose <code>elisp</code></li>
    </ul>
   </td>
   <td>
    Read the more extensive product documentatoin from the welcome screeen
   </td>
  </tr>
 </tbody>
</table>
